Repository valitydev/damsel, changes with the owners that CODEOWNERS names for each.
All owners: @valitydev/erlang, @valitydev/java, @valitydev/frontend

CODEOWNERS:

/proto/ @valitydev/erlang @valitydev/java @valitydev/frontend
/rebar.* @valitydev/erlang
/src/ @valitydev/erlang
/pom.xml @valitydev/java
/package-lock.json @valitydev/frontend
/package.json @valitydev/frontend

Update package.json to refer to vality.dev
  package.json
Owners: @valitydev/frontend

Update Java bits to refer to dev.vality group
  README.md
  pom.xml
  proto/accounter.thrift
  proto/base.thrift
  proto/claim_management.thrift
  proto/context.thrift
  proto/domain.thrift
  proto/domain_config.thrift
  proto/geo_ip.thrift
  proto/identity_document_storage.thrift
  proto/json.thrift
  proto/merch_stat.thrift
  proto/message_sender.thrift
  proto/msgpack.thrift
  proto/papidmt.thrift
  proto/payment_processing.thrift
  proto/payment_processing_errors.thrift
  proto/payment_tool_provider.thrift
  proto/payment_tool_token.thrift
  proto/payout_processing.thrift
  proto/preauth.thrift
  proto/proto_limiter.thrift
  proto/proxy_inspector.thrift
  proto/proxy_provider.thrift
  proto/repairing.thrift
  proto/reporting.thrift
  proto/test.thrift
  proto/timeout_behaviour.thrift
  proto/user_interaction.thrift
  proto/walker.thrift
  proto/webhooker.thrift
  proto/withdrawals_domain.thrift
  proto/withdrawals_errors.thrift
  proto/withdrawals_processing.thrift
  proto/withdrawals_provider_adapter.thrift
Owners: @valitydev/java, @valitydev/erlang, @valitydev/frontend

Update Erlang bits to refer to vality.dev
  build/erlang/src/damsel.app.src
  rebar.config
  src/damsel.app.src
Owners: @valitydev/erlang

Drop few dead links
  proto/proto_limiter.thrift
Owners: @valitydev/erlang, @valitydev/java, @valitydev/frontend

Update gitignore rules to ignore generated files
  .gitignore
Owners: none

Add Erlang CI workflow
  .github/workflows/erlang-pr.yml
Owners: none

Drop unnecessary `restore-keys` directive
  .github/workflows/erlang-pr.yml
Owners: none

Ensure workflow rtuns on master
  .github/workflows/erlang-pr.yml
Owners: none

Add Erlang CI workflow (#5)
  .github/workflows/erlang-pr.yml
Owners: none
